<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title center">Manager</h5>
          <p class="card-text text-center">Manager can create, edit, destroy and view the multiple projects in addition to that he can also assign QA and developers to the project also he can view the bugs that a specific project have.</p>
        </div>
        <div class="card-footer">
          @Manager
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title center">Developer</h5>
          <p class="card-text text-center">Developer can view projects that are assigned to him by the manager also he can view bugs associated to that specific project developer can also change the status of the project.</p>
        </div>
        <div class="card-footer">
          @Developer
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title center">QA</h5>
          <p class="card-text text-center">QA can view projects that are assigned to him by the manager also he can create, update, delete and view bugs associated to that specific project.</p>
        </div>
        <div class="card-footer">
          @QA
        </div>
      </div>
    </div>
  </div>
</div>
