<div class="container">
  <h1 class="center">About Us</h1>
  <p class="center">Bug tracking system is an web application specified for tracking bugs in your project in order to make project you have to signup as manager and signin as a manager in order to resolve bug you have to signup as developer or QA and then signin but remember developer has some restrictions following are the more brief description of roles </p>
</div>
<%= render 'home/catalogue' %>