<div class="container">
  <h1 class="center">Help</h1>
  <p class="center">In order to access the functionality you have to Signup as the following if already have an specific user account from the following click on signin at the top rigth corner and enter your credentials<p>
</div>
<%= render 'home/catalogue' %>
