<div class="jumbotron jumbotron-fluid bg-secondary text-white text-center">
  <div class="container">
    <h1 class="display-4">Welcome to Bug tracking system</h1>
    <p class="lead">Where you can manage your project and track its bugs</p>
  </div>
</div>
<%= render 'home/catalogue' %>

