<%= form_for [@project,@user_project] do |f| %>
  <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <h3>Assign Project to Developers</h3>
          <br>
          <%= f.collection_select :user_id, User.where(user_type: 1).order(:id),:id,:name, :prompt => "Select Developer"%>
          <br>
          <%= f.submit "Assign", :class => 'btn btn-dark btn-sm' %>
        </div>
      </div>
    </div>
  <br>
<% end %>