<div class="field">
  <div class="row">
    <div class="col-md-4 offset-4">
      <input type="checkbox" value="show-hide" checked="checked" id="box1"><br>
      For Developer
      <input type="checkbox" value="show-hide" checked="checked" id="box2"><br>
    </div>
  </div>
</div>
<div id="div1">
  <%= render 'form1' %>  
</div>
<div id="div2">
  <%= render 'form' %>    
</div>
