<div class="container mt-5">
  <% flash.each do |type, message| %>
    <div class="alert alert-<%= type %>" role="alert">
      <%= message %>
    </div>
  <% end %>
  <h1 class="text-center mb-5">New Project</h1>
  <%= render "form", project: @project %>
  <div class="text-center mt-5">
    <%= link_to "Back to projects", projects_path, class: "btn btn-secondary" %>
  </div>
</div>
